{% extends 'main/base.html' %}
{% load static %}

{% block title %}Registration{% endblock title %}

{% block content %}
    <section class="login-reg d-flex">
        <div class="login-title">
            <h2>Registration</h2>
            <form action={% url 'user:registration' %} method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id_first_name" class="form-label form-stylereg">First name</label>
                        <input type="text" class="form-control form-stylereg" 
                        placeholder="Your first name" id="id_first_name" name="first_name"  required \
                        value ={% if form.first_name.value %}{{ form.first_name.value }}{% endif %}>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_last_name" class="form-label form-stylereg">Last name</label>
                        <input type="text" class="form-control form-stylereg" 
                        placeholder="Your last name" id="id_last_name" name="last_name" required \
                        value ={% if form.last_name.value %}{{ form.last_name.value }}{% endif %}>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_username" class="form-label form-stylereg">Username</label>
                        <input type="text" class="form-control form-stylereg" 
                        placeholder="Your username" id="id_username" name="username" required \
                        value ={% if form.username.value %}{{ form.username.value }}{% endif %}>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_email" class="form-label form-stylereg">Email</label>
                        <input type="email" class="form-control form-stylereg" 
                        placeholder="Your email" id="id_email" name="email" required \
                        value ={% if form.email.value %}{{ form.email.value }}{% endif %}>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_password1" class="form-label form-stylereg">Password</label>
                        <input type="password" class="form-control form-stylereg" 
                        placeholder="Your password" id="id_password1" name="password1" required \
                        value ={% if form.password1.value %}{{ form.password1.value }}{% endif %}>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="id_password2" class="form-label form-stylereg">Confirm password</label>
                        <input type="password" class="form-control form-stylereg" 
                        placeholder="Your password" id="id_password2" name="password2" required \
                        value ={% if form.password2.value %}{{ form.password2.value }}{% endif %}>
                    </div>
                </div>
                <button type="submit" class="login-btn form-style">Register</button>
            </form>
        </div>
    </section>
{% endblock content %}